body {
    background-color: #e4d5b7;
}

.header {
    background-color: #F1C40F;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box1 {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
    background-color: #d8756d;
}

.box2 {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
    background-color: #a2c8c8;
}

.box3 {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
    background-color: #978eff;
}

.txt {
    text-align-last: center;
    text-wrap: balance;
    font-family: sans-serif;
    font-size: 45px;
}