.header {
    color: #000000;
    text-align: center;
    padding: 30px;
}

.htxt {
    font-size: 45px;
    font-family: Verdana;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b9a0a0;
}

nav {
    background-color: #ffd596;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}
 
@media (max-width: 768px) {
    nav {
      flex-direction: column;
      text-align: center;
}

nav a {
      margin-bottom: 10px;
}
}